<!DOCTYPE html>
{% load compress static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="{% static 'icons/logo_icon.png' %}" type="image/png"/>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/all.scss' %}">
    {% endcompress %}

    <title> GliaCloud | {% block title %} {% endblock %}</title>
    <style>
        html, body{
            font-family: 'Nunito', sans-serif;
        }

        .headroom--top{
            z-index:-1;
            opacity: 0;
            transition: all .3s;
        }

        .headroom--not-top{
            z-index:1000000000;
            opacity: 1;
            transition: all .3s;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>


<body class="{% block body-class %} {% endblock %}">

    {% include 'components/navigation/fixed-navigation.html' %}


    {% block body%}
    {% endblock %}


    {% include 'components/navigation/footer.html' %}


    {% compress js %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/bower_components/matchHeight/jquery.matchHeight.js' %}"></script>
        <script src="{% static 'js/bower_components/headroom.js/dist/headroom.js' %}"></script>
        <script src="{% static 'js/bower_components/headroom.js/dist/jQuery.headroom.js' %}"></script>

        <script>
            $("#white-nav").headroom(
                    {
                        offset : 100,
                        tolerance : 100,
                        classes : {
                            // when element is initialised
                            initial : "headroom",
                            // when scrolling up
                            pinned : "headroom--pinned",
                            // when scrolling down
                            unpinned : "headroom--unpinned",
                            // when above offset
                            top : "headroom--top",
                            // when below offset
                            notTop : "headroom--not-top"
                        }
                    }
            );
        </script>
    {% endcompress %}

        {% if not debug %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQFKMV"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NQFKMV');</script>
        <!-- End Google Tag Manager -->
        {% endif %}


    {% block scripts %}
    {% endblock %}

</body>

