<div class="row">
    <div class="RequestDemoBox">
        <div class="col-sm-offset-1 col-sm-7 Section-component" data-mh="cta-demo">
            <div class="GliaH3">
                Give Gliacloud a try, become data organization today.
                <div class="GliaP">or <a>Contact us</a></div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-4 Section-component" data-mh="cta-demo">
            <div class="VerticalMiddle">
                <div class="VerticalMiddle-inner">
                    <a href="{% url 'demo' %}" class="btn btn-success">REQUEST A DEMO</a>
                </div>
            </div>
        </div>
    </div>
</div>