{% extends 'base.html' %}


{% load crispy_forms_tags %}
{% load gmapify %}


{% block body-class %}
    BackgroundWhite
{% endblock %}


{% block title %}
   How can we help?
{% endblock %}


{% block body %}

    {% include 'components/header.html' with light=True title='How can we help?' background='BackgroundGliaBlue' %}

    <div class="Section--white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="GliaH2 text-center">
                        Contact our team
                    </div>
                    {% crispy form %}
                </div>
            </div>
        </div>

        <div class="container visible-xs-block">
            <div class="row">
                <div class="col-xs-12">
                    {% include 'contact/gliacloud-position-info.html' %}
                </div>
            </div>
        </div>

    </div>


    <div class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="GliaCloudPosition">
                       <div class="GliaCloudPosition-inner">
                           {% include 'contact/gliacloud-position-info.html' %}
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="GliaCloudPosition-map" class=""></div>
    </div>

    {% gmapify "GliaCloudPosition-map" 25.049804 121.543817 zoom=15 marker_title="GliaCloud" %}

{% endblock %}