.BackgroundGreen{
  background-color: $green;
}

.BackgroundDarkBlue{
  background-color: $dark-blue;
}

.BackgroundGliaBlue{
  background-color: $glia-blue;
}

.BackgroundBlueBayoux{
  background-color: $blue-bayoux;
}

.BackgroundWhite{
  background-color: $white;
}


.BackgroundLightGray{
  background-color: $light-gray; 
}

.BackgroundLightPurple{
  background-color: $light-purple;
}

.BackgroundPurple{
  background-color: $purple;
}

.BackgroundStrikeMaster{
  background-color: $strike-master;
}

.BackgroundSelago{
  background-color: $selago
}
