$light-purple: #F4F6FD;
$white: #FFFFFF;
$light-gray: #F8F8F8;
$dark-blue: #414657;
$green: #2bbe77;
$light-green: #3CC177;

$glia-blue: #5C75C4;
$glia-darkBlue: #3A54A4;
$blue-bayoux: #4F5A85;
$purple: #675F94;
$strike-master: #945E92;

$gray: #ACACAC;
$selago: #F4F6FD;

$cornflower-blue: #6195ED;


