/* glue: 0.11.1 hash: 420fb3c325 */
        .img_valueAddedService,
.img_issue_02,
.img_taskManagement,
.img_reportingService,
.img_logo_googleCloud,
.img_logo_evernote,
.img_logo_baidu,
.img_issue_03,
.img_issue_01,
.img_internalData,
.img_externalData,
.img_logo_telescopes,
.img_logo_tagtoo,
.img_logo_kii,
.logo_light,
.logo_dark,
.img_about_why,
.img_about_whatwedo,
.img_about_mission,
.binocularscom_logo,
.icon-privilege,
.icon-predict,
.icon-access,
.icon_industry_retail,
.icon_industry_iot,
.icon_industry_healthcare,
.icon_industry_gaming,
.icon_industry_ecommerce,
.icon_industry_ad,
.icon_feature_securely,
.icon_feature_noschema,
.icon_feature_lightning,
.icon_feature_intelligent,
.icon_feature_integrated,
.icon_feature_batch,
.logo_icon {
            background-image: url('../image/icons.png');
            background-repeat: no-repeat;
        }
        
        .img_valueAddedService {
            background-position: 0 0;
            width: 974px;
            height: 146px;
        }
        
        .img_issue_02 {
            background-position: 0 -146px;
            width: 574px;
            height: 224px;
        }
        
        .img_taskManagement {
            background-position: 0 -370px;
            width: 474px;
            height: 204px;
        }
        
        .img_reportingService {
            background-position: -474px -370px;
            width: 474px;
            height: 204px;
        }
        
        .img_logo_googleCloud {
            background-position: 0 -574px;
            width: 474px;
            height: 66px;
        }
        
        .img_logo_evernote {
            background-position: -474px -574px;
            width: 474px;
            height: 66px;
        }
        
        .img_logo_baidu {
            background-position: 0 -640px;
            width: 474px;
            height: 66px;
        }
        
        .img_issue_03 {
            background-position: -974px 0;
            width: 474px;
            height: 274px;
        }
        
        .img_issue_01 {
            background-position: -974px -274px;
            width: 474px;
            height: 224px;
        }
        
        .img_internalData {
            background-position: 0 -706px;
            width: 474px;
            height: 226px;
        }
        
        .img_externalData {
            background-position: -474px -706px;
            width: 474px;
            height: 226px;
        }
        
        .img_logo_telescopes {
            background-position: -974px -498px;
            width: 374px;
            height: 86px;
        }
        
        .img_logo_tagtoo {
            background-position: -974px -584px;
            width: 374px;
            height: 86px;
        }
        
        .img_logo_kii {
            background-position: -574px -146px;
            width: 374px;
            height: 86px;
        }
        
        .logo_light {
            background-position: -574px -232px;
            width: 214px;
            height: 46px;
        }
        
        .logo_dark {
            background-position: -574px -278px;
            width: 214px;
            height: 46px;
        }
        
        .img_about_why {
            background-position: -948px -706px;
            width: 174px;
            height: 124px;
        }
        
        .img_about_whatwedo {
            background-position: -1122px -706px;
            width: 174px;
            height: 124px;
        }
        
        .img_about_mission {
            background-position: 0 -932px;
            width: 174px;
            height: 124px;
        }
        
        .binocularscom_logo {
            background-position: -788px -232px;
            width: 155px;
            height: 40px;
        }
        
        .icon-privilege {
            background-position: -1296px -706px;
            width: 109px;
            height: 109px;
        }
        
        .icon-predict {
            background-position: -174px -932px;
            width: 109px;
            height: 109px;
        }
        
        .icon-access {
            background-position: -283px -932px;
            width: 109px;
            height: 109px;
        }
        
        .icon_industry_retail {
            background-position: -392px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_industry_iot {
            background-position: -500px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_industry_healthcare {
            background-position: -608px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_industry_gaming {
            background-position: -716px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_industry_ecommerce {
            background-position: -824px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_industry_ad {
            background-position: -932px -932px;
            width: 108px;
            height: 108px;
        }
        
        .icon_feature_securely {
            background-position: -1348px -498px;
            width: 74px;
            height: 74px;
        }
        
        .icon_feature_noschema {
            background-position: -1348px -584px;
            width: 74px;
            height: 74px;
        }
        
        .icon_feature_lightning {
            background-position: -948px -830px;
            width: 74px;
            height: 74px;
        }
        
        .icon_feature_intelligent {
            background-position: -1022px -830px;
            width: 74px;
            height: 74px;
        }
        
        .icon_feature_integrated {
            background-position: -1096px -830px;
            width: 74px;
            height: 74px;
        }
        
        .icon_feature_batch {
            background-position: -1170px -830px;
            width: 74px;
            height: 74px;
        }
        
        .logo_icon {
            background-position: -788px -278px;
            width: 44px;
            height: 44px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .img_valueAddedService,
    .img_issue_02,
    .img_taskManagement,
    .img_reportingService,
    .img_logo_googleCloud,
    .img_logo_evernote,
    .img_logo_baidu,
    .img_issue_03,
    .img_issue_01,
    .img_internalData,
    .img_externalData,
    .img_logo_telescopes,
    .img_logo_tagtoo,
    .img_logo_kii,
    .logo_light,
    .logo_dark,
    .img_about_why,
    .img_about_whatwedo,
    .img_about_mission,
    .binocularscom_logo,
    .icon-privilege,
    .icon-predict,
    .icon-access,
    .icon_industry_retail,
    .icon_industry_iot,
    .icon_industry_healthcare,
    .icon_industry_gaming,
    .icon_industry_ecommerce,
    .icon_industry_ad,
    .icon_feature_securely,
    .icon_feature_noschema,
    .icon_feature_lightning,
    .icon_feature_intelligent,
    .icon_feature_integrated,
    .icon_feature_batch,
    .logo_icon {
                background-image: url('../image/icons.png');
                -webkit-background-size: 1448px 1056px;
                -moz-background-size: 1448px 1056px;
                background-size: 1448px 1056px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .img_valueAddedService,
    .img_issue_02,
    .img_taskManagement,
    .img_reportingService,
    .img_logo_googleCloud,
    .img_logo_evernote,
    .img_logo_baidu,
    .img_issue_03,
    .img_issue_01,
    .img_internalData,
    .img_externalData,
    .img_logo_telescopes,
    .img_logo_tagtoo,
    .img_logo_kii,
    .logo_light,
    .logo_dark,
    .img_about_why,
    .img_about_whatwedo,
    .img_about_mission,
    .binocularscom_logo,
    .icon-privilege,
    .icon-predict,
    .icon-access,
    .icon_industry_retail,
    .icon_industry_iot,
    .icon_industry_healthcare,
    .icon_industry_gaming,
    .icon_industry_ecommerce,
    .icon_industry_ad,
    .icon_feature_securely,
    .icon_feature_noschema,
    .icon_feature_lightning,
    .icon_feature_intelligent,
    .icon_feature_integrated,
    .icon_feature_batch,
    .logo_icon {
                background-image: url('../image/icons@2x.png');
                -webkit-background-size: 1448px 1056px;
                -moz-background-size: 1448px 1056px;
                background-size: 1448px 1056px;
            }
        }
        