{% load static %}

<nav id='white-nav' class="navbar navbar-default navbar-fixed-top BackgroundWhite headroom--top {% if light %}navbar--light{% endif %}" style="padding-top: 7px; box-shadow: 0px 0px 3px rgba(0,0,0,0.2)">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-fixed" aria-expanded="false">
                <span class="sr-only">navigation</span>
                <span class="icon-bar" style="background-color: gray;"></span>
                <span class="icon-bar" style="background-color: gray;"></span>
                <span class="icon-bar" style="background-color: gray;"></span>
            </button>
            <a class="navbar-brand glia-navbar-brand" href="{% url 'index' %}">
                {% if light %}
                    <img width='210' src="{% static 'icons/logo_light.png' %}" alt="">
                {% else %}
                    <img width='210' src="{% static 'icons/logo_dark.png' %}" alt="">
                {% endif %}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-fixed">
            <ul class="nav navbar-nav navbar-right">
                {% include 'components/navigation/navigation-lists.html' %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
