<div class="FooterSection ">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <div class="icon logo_icon"></div>
            </div>
            <div class="col-sm-offset-2 col-sm-6 text-center">
                <ul class="FooterList">
                    {% include 'components/navigation/navigation-lists.html' %}
                </ul>
            </div>
            <div class="col-sm-offset-2 col-sm-1 WhiteText text-center">
                <ul class="LanguageList">
                    <li>
                        <a> English </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>