{% extends 'sections/base_section.html' %}


{% block background-class %}
    BackgroundLightGray
{% endblock %}


{% block section-title %}
    Missions always possible
{% endblock%}


{% block section-body %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 text-center">
            <div class="GliaP" style="margin-top: 16px;">
                BigData is coming; it's BIG, it's DATA and it's POWERFUL.
            </div>
            <div class="GliaP text-center" style="margin-top: 16px;">
                However, not so many people have the capability to utilize Big Data and benefit from it. Our goal is to create a user-friendly platform that makes Big Data processing is no more the privilege for programming savvy.
            </div>
        </div>
    </div>
{% endblock %}