<div class="Section BackgroundWhite" style="height: 320px">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="text-center">
                    <div class="VerticalMiddle">
                        <div class="VerticalMiddle-inner">
                            <h3>Got questions? We'd love to talk to you.</h3>
                            <a href='{% url "contact" %}' class="btn btn-primary" style="margin-top: 30px; line-height: 36px ; font-size: 18px;width: 214px; height: 48px; ">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>