{% load static %}

<div class="Section--white">
    <div class="container">
        <div class="row">

            <div class="VerticalSection-image">
                <img class='GliaImage' src="{% static 'icons/img_issue_02.png' %}"/>
            </div>

            <div class="VerticalSection-content">
                With our API service, you no longer need to read the tiresome documents of the original APIs. 
                Instead, all the external APIs we provide are all in consistent format and easy to learn. 
                Furthermore, users can access data directly through our restful GUI on website without codes written.
            </div>

        </div>
    </div>
</div>
